@import '../../colors.scss';

.search-main-cont {
  border-radius: 10px;
  padding: 10px;
  background-color: $hover-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: 2px solid black;
}

.search-image {
  width: 22px;
  
}

.search-input {
  padding: 0 10px 0 10px;
  outline: none;
  background-color: transparent;
  border: none;
  font-family: 'aeonik';
  font-size: 17px;
}

@media (max-width: 768px) {
  .search-main-cont {
    padding: 5px;
    border-radius: 5px;
    width: 80px;
  }
  .search-image {
    width: 12px;
  }
  .search-input {
    padding: 0 2px 0 2px;
    font-size: 10px;
  }
}