@import '../../colors.scss';



.menu-strip {
  font-size: 18px;
  padding: 10px 8px 10px 8px;
  cursor: pointer;
  position: relative;
  width: 134px;
  white-space: nowrap;
  //overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
}

.menu-text {
  overflow: hidden;
	text-overflow: ellipsis;
}

.nested-menu-container {
  //padding: 7px 10px 7px 10px;
  //border-bottom: 1px solid $text-color;
  //border-left: 1px solid $text-color;
  //border-right: 1px solid $text-color;
  &:hover {
    background-color: $hover-grey;
  }
}

.first-strip {
  border-right: 1px solid $text-color;
}

.last-strip {
  border-left: 1px solid $text-color;
}

.mid-strip {
  border-right: 1px solid $text-color;
  border-left: 1px solid $text-color;
}

.elems-main-cont {
  //box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
  //box-shadow: 0px 6px 9px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  width: max-content;
  position: absolute;
  left: 0px;
  background-color: #ffffff;
  //background-color: $elem-grey;
  border-bottom: 1px solid $text-color;
}

.elems-cont {
  position: relative;
  display: flex;
  flex-direction: column;
}

.strip-cont {
  display: flex;
  flex-direction: row;
}

.right-menu {
  left: 151px;
  top: 0;
}

.top-menu {
  top: 40px;
}

@media (max-width: 768px) {
  .menu-strip {
    font-size: 10px;
    padding: 0 5px 0 5px;
    width: 60px;
  }
  .right-menu {
    left: 70px;
  }
  
  .top-menu {
    top: 20px;
  }
}