$back-black: #181818;

$line-black: #151515;

$back-color: #F1F1F1;

$elem-grey: #EEEEEE;

$hover-grey: #E7E7E7;

$text-color: #25283D;

$button-blue: #07BEB8;

$images-back-blue: #98DFEA;

$button-hover-blue: #059E99; 